<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo creator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <header>

    </header>
    <main>
        <h2 class="header is-size-1 mb-5">BingoJS</h2>
        <button class="button start-btn is-medium is-success mb-2" onclick="playBingo();">Play</button>
        <button class="button start-btn is-medium is-warning" onclick="createBingo();">Create</button>
    </main>
    <footer>
        <div class="icons">
            <a href="https://github.com/ondrejhonus/" target="_blank"><img src="img/github.png" alt="GitHub link"></a>
            <a href="https://buymeacoffee.com/honus/" target="_blank"><img src="img/coffee.png" alt="donate"></a>
            <a href="https://ondrejhonus.com/" target="_blank"><img src="img/website.png" alt="website"></a>
        </div>
    </footer>
    
</body>
</html>