<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Bingo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/create.css">
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <footer>
        <div class="icons">
            <a href="https://github.com/ondrejhonus/" target="_blank"><img src="img/github.png" alt="GitHub link"></a>
            <a href="https://buymeacoffee.com/honus/" target="_blank"><img src="img/coffee.png" alt="donate"></a>
            <a href="https://ondrejhonus.com/" target="_blank"><img src="img/website.png" alt="website"></a>
        </div>
    </footer>
<script src="js/play.js"></script>
</body>
</html>